---
import SocialModal from "src/components/modals/SocialModal.astro";
import CookieBanner from "src/components/other/CookieBanner.astro";
import Layout from "src/layouts/Layout.astro";

const title = "ThinkAiStudio.com | By Nitish Kumar Rikhi";
const description =
  "ThinkAiStudio: Expert UI/UX design services for startups and growing brands. From UX research and wireframing to prototyping, usability testing, and graphic design, we craft user-centered digital experiences that drive results and growth.";
---

<Layout title={title} description={description}>
  <!-- navigation -->
  <header
    id="mainNav"
    class="header shadow"
    itemscope
    itemtype="https://schema.org/WebSite"
  >
    <nav
      class="navbar mt-3 rounded-20 container navbar-expand-lg fixed-top p-2"
      aria-label="Main Navigation"
      itemscope
      itemtype="https://schema.org/SiteNavigationElement"
    >
      <div class="container">
        <a
          title="ThinkAiStudio.com"
          href="/"
          class="navbar-brand"
          itemprop="url"
        >
          <img
            width="40"
            alt="ThinkAiStudio logo - Expert UX/UI Design Studio"
            src="assets/img/template/logo.svg"
            itemprop="logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExample09"
          aria-controls="navbarsExample09"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span> </span>
          <span> </span>
          <span> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample09">
          <menu class="navbar-nav me-auto mt-0">
            <li>
              <a
                title="Services"
                class="nav-link"
                href="#services"
                itemprop="url">Services</a
              >
            </li>
            <li>
              <a
                title="Case Studies"
                class="nav-link"
                href="#recent-works"
                itemprop="url">Work</a
              >
            </li>
            <li>
              <a
                title="Testimonials"
                class="nav-link"
                href="#testimonials"
                itemprop="url">Testimonials</a
              >
            </li>
            <li>
              <a
                title="About the founder"
                class="nav-link"
                href="#about-me"
                itemprop="url">About</a
              >
            </li>
          </menu>
          <div class="d-md-flex d-sm-grid bd-highlight">
            <div
              class="head-available me-0 me-md-3 mb-3 mb-md-0 rounded-10 ps-1 pe-3 py-1 flex-fill bd-highlight d-none d-md-flex"
            >
              <div class="head-conteiner">
                <img
                  class="rounded-6 me-2"
                  alt="Nitish Rikhi - UX/UI Designer and Founder of ThinkAiStudio"
                  width="30"
                  src="assets/img/profile/avatar.webp"
                />
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="11"
                  height="11"
                  viewBox="0 0 11 11"
                  fill="none"
                >
                  <path
                    d="M5.5 10C7.98528 10 10 7.98528 10 5.5C10 3.01472 7.98528 1 5.5 1C3.01472 1 1 3.01472 1 5.5C1 7.98528 3.01472 10 5.5 10Z"
                    fill="#18B946"
                    stroke="#F0F0F0"
                    stroke-width="2"></path>
                </svg>
              </div>
              <span class="ms-2">Available for work</span>
            </div>
            <a
              data-bs-toggle="modal"
              data-bs-target="#auditFormModal"
              title="Lets talk"
              class="btn btn-primary btn-sm px-3 py-1 flex-fill bd-highlight d-none d-md-flex"
              itemprop="url"
            >
              Let's Connect
              <svg
                class="ms-1"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 18 18"
                style="width: 18px"
                xml:space="preserve"
              >
                <style type="text/css">
                  .st0 {
                    fill: #cfe2ff;
                  }
                  .st1 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #448ffe;
                  }
                </style>
                <g>
                  <path
                    class="st0"
                    d="M5,0h6c2.8,0,5,2.2,5,5v6c0,2.8-2.2,5-5,5H5c-2.8,0-5-2.2-5-5V5C0,2.2,2.2,0,5,0z"
                  ></path>
                  <path
                    class="st1"
                    d="M8.6,4.5c0.4-0.4,1-0.4,1.4,0l2.8,2.8c0.4,0.4,0.4,1,0,1.4L10,11.5c-0.4,0.4-1,0.4-1.4,0
                               c-0.4-0.4-0.4-1,0-1.4L9.7,9H3.9c-0.6,0-1-0.4-1-1c0-0.6,0.4-1,1-1h5.8L8.6,5.9C8.2,5.5,8.2,4.9,8.6,4.5z"
                  ></path>
                </g>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <section
    class="interactive-header border-sm-0"
    itemscope
    itemtype="https://schema.org/WebPageElement"
  >
    <div class="header-hero text-center px-4">
      <!-- <p class="accent-text" itemprop="description">Welcome to ThinkAiStudio</p> -->
      <p
        class="accent-text text-center mb-0 mt-5 mt-md-0"
        itemprop="description"
      >
        Welcome to ThinkAiStudio
      </p>
      <h1 itemprop="headline">
        UI/UX & AI-Driven Design Partner <br />for Future-Ready Businesses
      </h1>
      <div class="col-lg-12 mx-auto px-0 px-md-4 px-sm-5">
        <p class="mb-4 display-8" itemprop="description">
          With 12+ years of design leadership, I help businesses launch, grow, and scale faster<br />
          through intuitive UI/UX, AI-powered workflows, and engaging multimedia storytelling.
        </p>

        <div class="container-lg pb-5 mb-5 d-block d-md-none">
          <div class="row row-cols-1 row-cols-lg-3 g-4">
            <!-- First Column -->
            <div class="col p-0 mt-0 animated">
              <div class="container">
                <div class="row row-cols-1 row-cols-lg-2 g-4">
                  <div
                    class="col mt-5 ms-auto p-0"
                    itemscope
                    itemtype="http://schema.org/CreativeWork"
                  >
                    <img
                      class="w-100 rounded-10 shadow card-animation header-images"
                      src="assets/img/portfolio/logo/img-alchemist.webp"
                      alt="Alchemist logo design created by Nick Rikhi showcasing modern branding for Design Alchemists"
                      itemprop="image"
                    />
                    <p
                      class="mb-1 mt-2 muted-50 display-10 text-start"
                      itemprop="name"
                    >
                      Logo design - Design alchemists
                    </p>
                    <meta
                      itemprop="description"
                      content="A sleek logo designed for Design Alchemists."
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div
                  class="pt-4"
                  itemscope
                  itemtype="http://schema.org/CreativeWork"
                >
                  <img
                    class="w-100 rounded-10 shadow card-animation header-images"
                    src="assets/img/portfolio/img-testify.webp"
                    alt="Testify landing page design for an AI testing app, featuring a user-friendly layout and modern visuals"
                    itemprop="image"
                  />
                  <p
                    class="mb-1 mt-2 muted-50 display-10 text-start"
                    itemprop="name"
                  >
                    Web design - Testify
                  </p>
                  <meta
                    itemprop="description"
                    content="Landing page design for Testify."
                  />
                </div>
              </div>

              <div class="row">
                <div
                  class="pt-4"
                  itemscope
                  itemtype="http://schema.org/CreativeWork"
                >
                  <img
                    class="w-100 rounded-10 shadow card-animation header-images"
                    src="assets/img/portfolio/img-slide-booking.webp"
                    alt="Booking app design showcasing intuitive navigation and seamless user experience for scheduling and reservations."
                    itemprop="image"
                  />
                  <p
                    class="mb-1 mt-2 muted-50 display-10 text-start"
                    itemprop="name"
                  >
                    Journey Jolt - Concept design
                  </p>
                  <meta
                    itemprop="description"
                    content="Concept design for Journey Jolt booking app."
                  />
                </div>
              </div>
            </div>

            <!-- Second Column -->
            <div
              class="col animated d-none d-md-block"
              itemscope
              itemtype="http://schema.org/CreativeWork"
            >
              <img
                class="w-100 rounded-20 shadow card-animation header-images"
                src="assets/img/portfolio/img-mobile.webp"
                alt="Mobile app design for rent electric cars, featuring a sleek and creative user interface."
                itemprop="image"
              />
              <p
                class="mb-1 mt-2 muted-50 display-10 text-start"
                itemprop="name"
              >
                Mobile app - Green ride
              </p>
              <meta
                itemprop="description"
                content="Mobile app design for Green ride."
              />
            </div>

            <!-- Third Column -->
            <div class="col p-0 animated mt-0 mt-md-5">
              <div class="container">
                <div class="row row-cols-1 row-cols-lg-2 g-4">
                  <div
                    class="col mt-5 me-auto p-0"
                    itemscope
                    itemtype="http://schema.org/CreativeWork"
                  >
                    <img
                      class="w-100 rounded-10 shadow card-animation header-images"
                      src="assets/img/portfolio/logo/img-rca.webp"
                      alt="Final logo design for RCA, an app specializing in collecting vibration data from machines to detect problems, with full branding by UI Forge."
                      itemprop="image"
                    />
                    <p
                      class="mb-1 mt-2 muted-50 display-10 text-start"
                      itemprop="name"
                    >
                      Branding - RCA Cloud
                    </p>
                    <meta
                      itemprop="description"
                      content="Branding design for RCA Cloud."
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div
                  class="pt-4"
                  itemscope
                  itemtype="http://schema.org/CreativeWork"
                >
                  <img
                    class="w-100 rounded-10 shadow card-animation header-images"
                    src="assets/img/portfolio/img-slide-tech.webp"
                    alt="UX/UI design for a collaboration dashboard app, showcasing intuitive navigation and streamlined team workflows."
                    itemprop="image"
                  />
                  <p
                    class="mb-1 mt-2 muted-50 display-10 text-start"
                    itemprop="name"
                  >
                    SaaS app - Tech Collab
                  </p>
                  <meta
                    itemprop="description"
                    content="SaaS app design for Tech Collab."
                  />
                </div>
              </div>

              <div class="row">
                <div
                  class="pt-4"
                  itemscope
                  itemtype="http://schema.org/CreativeWork"
                >
                  <img
                    class="w-100 rounded-10 shadow card-animation header-images"
                    src="assets/img/portfolio/img-bank.webp"
                    alt="UX/UI design for an online banking dashboard app, highlighting secure transactions, user-friendly interface, and financial management tools."
                    itemprop="image"
                  />
                  <p
                    class="mb-1 mt-2 muted-50 display-10 text-start"
                    itemprop="name"
                  >
                    Dashboard - Concept
                  </p>
                  <meta
                    itemprop="description"
                    content="Concept dashboard design for a banking application."
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="portfolio-slider pb-5 d-none d-md-block"
          itemscope
          itemtype="http://schema.org/ItemList"
        >
          <meta itemprop="name" content="Other projects we've done" />
          <meta
            itemprop="description"
            content="Explore our successful projects and see the impactful results we've delivered for our clients."
          />
          <div class="slider-container">
            <!-- Individual items should have itemListElement wrapping -->
            <div class="slider py-4">
              <div
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/CreativeWork"
              >
                <img
                  loading="lazy"
                  alt="Banking dashboard design showcasing streamlined financial management interface"
                  width="400"
                  src="assets/img/portfolio/img-bank.webp"
                  itemprop="image"
                />
              </div>
              <div
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/CreativeWork"
              >
                <img
                  style="width: 173px"
                  loading="lazy"
                  alt="Bill Organizer & Tracker ios mobile app design emphasizing responsive and intuitive user interfaces"
                  width="173"
                  src="assets/img/portfolio/img-mobile-bill-organizer.webp"
                  itemprop="image"
                />
              </div>
              <div
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/CreativeWork"
              >
                <img
                  loading="lazy"
                  alt="Vib.cloud web design for industrial vibration data collection and analysis platform"
                  width="400"
                  src="assets/img/portfolio/vibcloud/img-cover.webp"
                  itemprop="image"
                />
              </div>
              <div
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/CreativeWork"
              >
                <img
                  loading="lazy"
                  alt="Green Ride app design showcasing electric vehicle rental platform"
                  width="400"
                  src="assets/img/portfolio/img-slide-greenride.webp"
                  itemprop="image"
                />
              </div>
              <div
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/CreativeWork"
              >
                <img
                  loading="lazy"
                  alt="AI-based QA testing app web design focusing on reliability and efficiency"
                  width="400"
                  src="assets/img/portfolio/img-testify.webp"
                  itemprop="image"
                />
              </div>
              <div
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/CreativeWork"
              >
                <img
                  loading="lazy"
                  alt="Atlas Health app web design for back pain management and relief"
                  width="400"
                  src="assets/img/portfolio/img-portfolio-atlas.webp"
                  itemprop="image"
                />
              </div>
              <div
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/CreativeWork"
              >
                <img
                  loading="lazy"
                  alt="Booking app user interface design featuring seamless trip planning functionality"
                  width="400"
                  src="assets/img/portfolio/img-slide-booking.webp"
                  itemprop="image"
                />
              </div>
              <div
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/CreativeWork"
              >
                <img
                  style="width: 173px"
                  loading="lazy"
                  alt="Mobile app design emphasizing responsive and intuitive user interfaces"
                  width="173"
                  src="assets/img/portfolio/img-mobile.webp"
                  itemprop="image"
                />
              </div>
              <div
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/CreativeWork"
              >
                <img
                  loading="lazy"
                  alt="TruckWise app design for logistics and fleet management"
                  width="400"
                  src="assets/img/portfolio/img-slide-truck-wise.webp"
                  itemprop="image"
                />
              </div>
              <div
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/CreativeWork"
              >
                <img
                  loading="lazy"
                  alt="Vib.cloud dashboard showcasing real-time vibration data analysis"
                  width="400"
                  src="assets/img/portfolio/img-slide-vib.webp"
                  itemprop="image"
                />
              </div>
              <div
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/CreativeWork"
              >
                <img
                  loading="lazy"
                  alt="Collaborative development app web design with a sleek and functional interface"
                  width="400"
                  src="assets/img/portfolio/img-slide-tech.webp"
                  itemprop="image"
                />
              </div>
              <div
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/CreativeWork"
              >
                <img
                  loading="lazy"
                  alt="FanFlick online video streaming platform design emphasizing content discovery"
                  width="400"
                  src="assets/img/portfolio/img-slide-fanflick.webp"
                  itemprop="image"
                />
              </div>
              <div
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/CreativeWork"
              >
                <img
                  loading="lazy"
                  alt="JamJunction online music maker app design for creative collaboration"
                  width="400"
                  src="assets/img/portfolio/img-slide-jamjunction.webp"
                  itemprop="image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div
    class="clients position-relative d-none d-md-block"
    itemscope
    itemtype="http://schema.org/Organization"
  >
    <meta itemprop="name" content="UI Forge" />
    <img
      class="logo-bridge"
      src="assets/img/portfolio/img-bridge.svg"
      alt="Bridge logo"
    />
    <div class="logo-container">
      <div class="logos">
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Go3PL client logo"
            width="130"
            src="assets/img/portfolio/logo-go3pl.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Jam Junction client logo"
            width="130"
            src="assets/img/portfolio/logo-jamjunction.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Jorney Jolt client logo"
            width="130"
            src="assets/img/portfolio/logo-jorneyjolt.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Skillsprint client logo"
            width="130"
            src="assets/img/portfolio/logo-skillsprint.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Truckwise client logo"
            width="130"
            src="assets/img/portfolio/logo-truckwise.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Wellconnect client logo"
            width="130"
            src="assets/img/portfolio/logo-wellconnect.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="RCA Cloud client logo"
            width="130"
            src="assets/img/portfolio/logo-rcacloud.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Alchemists client logo"
            width="130"
            src="assets/img/portfolio/logo-alchemists.svg"
          />
        </div>
        <!-- Repeat the logos for smooth scrolling -->
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Go3PL client logo"
            width="130"
            src="assets/img/portfolio/logo-go3pl.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Jam Junction client logo"
            width="130"
            src="assets/img/portfolio/logo-jamjunction.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Jorney Jolt client logo"
            width="130"
            src="assets/img/portfolio/logo-jorneyjolt.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Skillsprint client logo"
            width="130"
            src="assets/img/portfolio/logo-skillsprint.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Truckwise client logo"
            width="130"
            src="assets/img/portfolio/logo-truckwise.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Wellconnect client logo"
            width="130"
            src="assets/img/portfolio/logo-wellconnect.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="RCA Cloud client logo"
            width="130"
            src="assets/img/portfolio/logo-rcacloud.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Alchemists client logo"
            width="130"
            src="assets/img/portfolio/logo-alchemists.svg"
          />
        </div>
        <!-- Repeat the logos for smooth scrolling -->
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Go3PL client logo"
            width="130"
            src="assets/img/portfolio/logo-go3pl.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Jam Junction client logo"
            width="130"
            src="assets/img/portfolio/logo-jamjunction.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Jorney Jolt client logo"
            width="130"
            src="assets/img/portfolio/logo-jorneyjolt.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Skillsprint client logo"
            width="130"
            src="assets/img/portfolio/logo-skillsprint.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Truckwise client logo"
            width="130"
            src="assets/img/portfolio/logo-truckwise.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Wellconnect client logo"
            width="130"
            src="assets/img/portfolio/logo-wellconnect.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="RCA Cloud client logo"
            width="130"
            src="assets/img/portfolio/logo-rcacloud.svg"
          />
        </div>
        <div
          itemprop="department"
          itemscope
          itemtype="http://schema.org/Organization"
        >
          <img
            loading="lazy"
            itemprop="logo"
            alt="Alchemists client logo"
            width="130"
            src="assets/img/portfolio/logo-alchemists.svg"
          />
        </div>
      </div>
    </div>
  </div>

  <section
    class="intro d-none d-md-block container-lg pb-2 pt-5 position-relative border-sm-0"
    itemscope
    itemtype="http://schema.org/Service"
    id="services"
  >
    <h2 class="text-center w-100 mb-2" itemprop="name">
      Design That Drives Growth
    </h2>
    <p class="mb-5 display-8 text-center w-100" itemprop="description">
      From intuitive UI/UX design to AI-driven workflows and impactful branding, I deliver end-to-end design solutions that help businesses stand out, scale with confidence, and build deeper connections with their audience.
    </p>
    <div class="container-lg pt-4 pb-3">
      <div class="row row-cols-1 row-cols-lg-3 g-4">
        <div
          class="col animated"
          itemscope
          itemtype="http://schema.org/Service"
        >
          <div class="card h-100 p-1">
            <div class="card-img pt-3 px-2">
              <object
                title="Product design animation"
                data="assets/img/template/img-produc-design.svg"
                type="image/svg+xml"></object>
            </div>
            <div class="card-body p-4 pt-3">
              <h3 class="card-title pb-0 fw-normal h4" itemprop="name">
                UX/UI Design
              </h3>
              <p class="card-text" itemprop="description">
                Turning complex ideas into intuitive, user-first experiences.
              </p>
            </div>
          </div>
        </div>
        <div
          class="col animated"
          itemscope
          itemtype="http://schema.org/Service"
        >
          <div class="card h-100 p-1">
            <div class="card-img pt-3 px-2">
              <object
                title="Web design animation"
                data="assets/img/template/img-web-design.svg"
                type="image/svg+xml"></object>
            </div>
            <div class="card-body p-4 pt-3">
              <h3 class="card-title pb-0 fw-normal h4" itemprop="name">
                Web Design & Development
              </h3>
              <p class="card-text" itemprop="description">
                Building modern, responsive sites that grow with your business.
              </p>
            </div>
          </div>
        </div>
        <div
          class="col animated"
          itemscope
          itemtype="http://schema.org/Service"
        >
          <div class="card h-100 p-1">
            <div class="card-img pt-3 px-2">
              <object
                title="Branding animation"
                data="assets/img/template/img-branding.svg"
                type="image/svg+xml"></object>
            </div>
            <div class="card-body p-4 pt-3">
              <h3 class="card-title pb-0 fw-normal h4" itemprop="name">
                Branding
              </h3>
              <p class="card-text" itemprop="description">
                Crafting memorable identities that build trust and recognition.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="why-us container-lg py-0 py-md-5"
    itemscope
    itemtype="http://schema.org/Service"
  >
    <meta itemprop="name" content="UI Forge Design Services" />
    <div class="container-lg pt-2 pt-xs-5 animated">
      <div class="row row-cols-1 row-cols-lg-3">
        <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
          <object
            title="Layer"
            class="mb-2"
            width="36"
            data="assets/img/template/ic-layers.svg"
            type="image/svg+xml"></object>
          <h3
            class="card-title pb-2 fw-normal text-white h4"
            itemprop="serviceType"
          >
            Design without limits
          </h3>
          <p class="card-text text-white muted-50" itemprop="description">
            Submit as many design tasks or revisions as you<br
              class="d-md-block d-none"
            />
            need until your vision is fully realized.
          </p>
        </div>
        <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
          <object
            title="Lighting"
            class="mb-2"
            width="36"
            data="assets/img/template/ic-lighting.svg"
            type="image/svg+xml"></object>
          <h3
            class="card-title pb-2 fw-normal text-white h4"
            itemprop="serviceType"
          >
            Speed meets quality
          </h3>
          <p class="card-text text-white muted-50" itemprop="description">
            Get your projects delivered faster with priority<br
              class="d-md-block d-none"
            />
            handling—no long waits, just results.
          </p>
        </div>
        <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
          <object
            title="User"
            class="mb-2"
            width="36"
            data="assets/img/template/ic-user.svg"
            type="image/svg+xml"></object>
          <h3
            class="card-title pb-2 fw-normal text-white h4"
            itemprop="serviceType"
          >
            Your brand, my focus
          </h3>
          <p class="card-text text-white muted-50" itemprop="description">
            Work directly with a senior designer who understands<br
              class="d-md-block d-none"
            />
            your goals and designs with consistency.
          </p>
        </div>
      </div>
    </div>
    <div class="container-lg pb-2 pb-xs-5 animated">
      <div class="row row-cols-1 row-cols-lg-3 pb-5">
        <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
          <object
            title="Design"
            class="mb-2"
            width="36"
            data="assets/img/template/ic-design.svg"
            type="image/svg+xml"></object>
          <h3
            class="card-title pb-2 fw-normal text-white h4"
            itemprop="serviceType"
          >
            All-in-one design partner
          </h3>
          <p class="card-text text-white muted-50" itemprop="description">
            From UX to branding, access a full suite of<br
              class="d-md-block d-none"
            />
            creative services under one roof.
          </p>
        </div>
        <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
          <object
            title="Cost"
            class="mb-2"
            width="36"
            data="assets/img/template/ic-cost.svg"
            type="image/svg+xml"></object>
          <h3
            class="card-title pb-2 fw-normal text-white h4"
            itemprop="serviceType"
          >
            Premium design, smart pricing
          </h3>
          <p class="card-text text-white muted-50" itemprop="description">
            Save more compared to in-house hiring with<br
              class="d-md-block d-none"
            />
            flexible, affordable
            <a
              title="pricing page"
              class="text-white fw-bold"
              href="https://www.thinkaistudio.com/"
              >subscription plans.</a
            >
          </p>
        </div>
        <div class="col pt-5" itemscope itemtype="http://schema.org/Service">
          <object
            title="Strategy"
            class="mb-2"
            width="36"
            data="assets/img/template/ic-strategy.svg"
            type="image/svg+xml"></object>
          <h3
            class="card-title pb-2 fw-normal text-white h4"
            itemprop="serviceType"
          >
            Design aligned with growth
          </h3>
          <p class="card-text text-white muted-50" itemprop="description">
            Stay on track with recurring strategy calls to ensure<br
              class="d-md-block d-none"
            />
            your design supports your business goals.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    id="recent-works"
    class="latest-projects position-relative"
    itemscope
    itemtype="http://schema.org/CreativeWork"
  >
    <div class="container-lg pb-3 pt-5 py-5 w-60">
      <p class="accent-text text-center mb-0" itemprop="description">
        Recent Works
      </p>
      <h2 class="text-center w-100 mb-5" itemprop="headline">
        Designing Success Stories Together
      </h2>
      <div class="container pb-2">
        <div
          class="row row-cols-1 row-cols-lg-2 g-4 mb-5 mt-5 py-3 card-style align-items-stretch card-animation"
        >
          <!-- Image Column -->
          <div
            class="col mt-0"
            itemscope=""
            itemtype="http://schema.org/Service"
          >
            <div class="h-100 rounded-corners-20">
              <img
                src="assets/img/portfolio/img-slide-truck-wise.webp"
                class="w-100 rounded-10"
                alt="UX/UI design for TruckWise, an app for planning, organizing, and tracking truck logistics efficiently."
              />
            </div>
          </div>

          <!-- Text Column -->
          <div
            class="col mt-0 d-flex p-3 flex-column"
            itemscope=""
            itemtype="http://schema.org/Service"
          >
            <div class="flex-grow-1">
              <img
                class="mb-4"
                width="150"
                alt="client logo"
                src="assets/img/portfolio/logo-truckwise-dark.svg"
              />
              <h3 class="card-title h4">
                Designed a SaaS LMS dashboard focused on usability, scalability, and seamless learning experiences.
              </h3>
            </div>
            <!-- KEY FEATURES at the bottom -->
            <div class="mt-auto">
              <p class="mb-1 muted-50 display-10">KEY FEATURES:</p>
              <ul class="ps-0 mb-0">
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  LMS
                </li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  SaaS
                </li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  Dashboard
                </li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  Analytics
                </li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">UX</li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">UI</li>
              </ul>
            </div>
          </div>
        </div>

        <div
          class="row row-cols-1 mb-5 mt-5 row-cols-lg-2 g-4 py-3 card-style align-items-stretch card-animation"
        >
          <!-- Text Column -->
          <div
            class="col mt-0 d-flex p-4 ps-4 flex-column"
            itemscope=""
            itemtype="http://schema.org/Service"
          >
            <div class="flex-grow-1">
              <img
                class="mb-4"
                width="150"
                alt="client logo"
                src="assets/img/portfolio/logo-pixyle.svg"
              />
              <h3 class="card-title h4">
                Created Horizon’s complete brand ecosystem—from identity to digital experiences.
              </h3>
            </div>
            <!-- KEY FEATURES at the bottom -->
            <div class="mt-auto">
              <p class="mb-1 muted-50 display-10">KEY FEATURES:</p>
              <ul class="ps-0 mb-0">
                <li class="badge badge-pill mb-1" itemprop="serviceType">UX</li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">UI</li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  Graphic
                </li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  Webflow
                </li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">AI</li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  Prototyping
                </li>
              </ul>
            </div>
          </div>

          <!-- Image Column -->
          <div
            class="col mt-0"
            itemscope=""
            itemtype="http://schema.org/Service"
          >
            <div class="h-100 rounded-corners-20">
              <img
                src="assets/img/portfolio/img-portfolio-pixyle.webp"
                class="w-100 rounded-10"
                alt="Landing page design for Pixyle AI, an app that generates image tags using artificial intelligence."
              />
            </div>
          </div>
        </div>

        <div
          class="row row-cols-1 row-cols-lg-2 g-4 mb-5 mt-5 py-3 card-style align-items-stretch card-animation"
        >
          <!-- Image Column -->
          <div
            class="col mt-0"
            itemscope=""
            itemtype="http://schema.org/Service"
          >
            <div class="h-100 rounded-corners-20">
              <img
                src="assets/img/portfolio/img-branding.webp"
                class="w-100 rounded-10"
                alt="Tech app"
              />
            </div>
          </div>

          <!-- Text Column -->
          <div
            class="col mt-0 d-flex p-3 flex-column"
            itemscope=""
            itemtype="http://schema.org/Service"
          >
            <div class="flex-grow-1">
              <img
                class="mb-4"
                width="150"
                alt="Logo design for GO3PL, a storage and logistics company, showcasing modern branding elements."
                src="assets/img/portfolio/logo-go3pl-dark.svg"
              />
              <h3 class="card-title h4">
                Developed a modern brand identity for Findr with clarity, consistency, and appeal across all touchpoints.
              </h3>
            </div>
            <!-- KEY FEATURES at the bottom -->
            <div class="mt-auto">
              <p class="mb-1 muted-50 display-10">KEY FEATURES:</p>
              <ul class="ps-0 mb-0">
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  Branding
                </li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  Logo
                </li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  Style Guide
                </li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  Identity System
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div
          class="row row-cols-1 mb-5 mt-5 row-cols-lg-2 g-4 py-3 card-style align-items-stretch card-animation"
        >
          <!-- Text Column -->
          <div
            class="col mt-0 d-flex p-4 ps-4 flex-column"
            itemscope=""
            itemtype="http://schema.org/Service"
          >
            <div class="flex-grow-1">
              <h3 class="card-title h4">
                Designed an AI-powered mobile app with clean UI, smooth chats, and effortless upgrades for better engagement.
              </h3>
            </div>
            <!-- KEY FEATURES at the bottom -->
            <div class="mt-auto">
              <p class="mb-1 muted-50 display-10">KEY FEATURES:</p>
              <ul class="ps-0 mb-0">
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  Mobile app
                </li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">UX</li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">UI</li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  Prototyping
                </li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  Figma
                </li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  Android
                </li>
                <li class="badge badge-pill mb-1" itemprop="serviceType">
                  iOS
                </li>
              </ul>
            </div>
          </div>

          <!-- Image Column -->
          <div
            class="col mt-0"
            itemscope=""
            itemtype="http://schema.org/Service"
          >
            <div class="h-100 rounded-corners-20">
              <img
                src="assets/img/portfolio/img-slide-greenride.webp"
                class="w-100 rounded-10"
                alt="UX/UI design for GreenRide, an app dedicated to renting electric vehicles, featuring a clean and eco-friendly interface."
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="tools-section"
    itemscope
    itemtype="https://schema.org/ItemList"
  >
    <div class="container tools-container">
      <h3 class="accent-text text-white text-center mb-0" itemprop="name">
        Tools we use
      </h3>
      <meta itemprop="itemListOrder" content="Unordered" />
      <meta itemprop="numberOfItems" content="14" />

      <!-- Tool 1: Bootstrap -->
      <div
        class="tool-item d-flex gap-1"
        itemscope
        itemtype="https://schema.org/SoftwareApplication"
      >
        <img
          loading="lazy"
          class="me-1"
          width="16"
          src="assets/img/template/ic-bootstrap.svg"
          alt="Bootstrap logo, a responsive framework for web development"
          itemprop="image"
        />
        <span itemprop="name">Bootstrap</span>
        <meta itemprop="operatingSystem" content="All" />
        <meta itemprop="applicationCategory" content="Web development tool" />
      </div>

      <!-- Tool 2: Figma -->
      <div
        class="tool-item d-flex gap-1"
        itemscope
        itemtype="https://schema.org/SoftwareApplication"
      >
        <img
          loading="lazy"
          class="me-1"
          width="16"
          src="assets/img/template/ic-figma.svg"
          alt="Figma logo, a collaborative design and prototyping tool"
          itemprop="image"
        />
        <span itemprop="name">Figma</span>
        <meta itemprop="operatingSystem" content="Web-based" />
        <meta itemprop="applicationCategory" content="Design tool" />
      </div>

      <!-- Tool 3: Illustrator -->
      <div
        class="tool-item d-flex gap-1"
        itemscope
        itemtype="https://schema.org/SoftwareApplication"
      >
        <img
          loading="lazy"
          class="me-1"
          width="16"
          src="assets/img/template/ic-illustrator.svg"
          alt="Illustrator logo, a vector graphic design tool by Adobe"
          itemprop="image"
        />
        <span itemprop="name">Illustrator</span>
        <meta itemprop="operatingSystem" content="Windows, macOS" />
        <meta itemprop="applicationCategory" content="Design tool" />
      </div>

      <!-- Tool 4: VS Code -->
      <div
        class="tool-item d-flex gap-1"
        itemscope
        itemtype="https://schema.org/SoftwareApplication"
      >
        <img
          loading="lazy"
          class="me-1"
          width="16"
          src="assets/img/template/ic-vs.svg"
          alt="VS Code logo, a lightweight code editor by Microsoft"
          itemprop="image"
        />
        <span itemprop="name">VS Code</span>
        <meta itemprop="operatingSystem" content="Windows, macOS, Linux" />
        <meta itemprop="applicationCategory" content="Development tool" />
      </div>

      <!-- Tool 5: Office -->
      <div
        class="tool-item d-flex gap-1"
        itemscope
        itemtype="https://schema.org/SoftwareApplication"
      >
        <img
          loading="lazy"
          class="me-1"
          width="16"
          src="assets/img/template/ic-office.svg"
          alt="Microsoft Office logo, a suite of productivity tools"
          itemprop="image"
        />
        <span itemprop="name">Office</span>
        <meta itemprop="operatingSystem" content="Windows, macOS" />
        <meta itemprop="applicationCategory" content="Productivity tool" />
      </div>

      <!-- Tool 6: Trello -->
      <div
        class="tool-item d-flex gap-1"
        itemscope
        itemtype="https://schema.org/SoftwareApplication"
      >
        <img
          loading="lazy"
          class="me-1"
          width="16"
          src="assets/img/template/ic-trello.svg"
          alt="Trello logo, a web-based project management tool"
          itemprop="image"
        />
        <span itemprop="name">Trello</span>
        <meta itemprop="operatingSystem" content="Web-based" />
        <meta
          itemprop="applicationCategory"
          content="Project management tool"
        />
      </div>

      <!-- Tool 7: Webflow -->
      <div
        class="tool-item d-flex gap-1"
        itemscope
        itemtype="https://schema.org/SoftwareApplication"
      >
        <img
          loading="lazy"
          class="me-1"
          width="16"
          src="assets/img/template/ic-webflow.svg"
          alt="Webflow logo, a no-code web design and development tool"
          itemprop="image"
        />
        <span itemprop="name">Webflow</span>
        <meta itemprop="operatingSystem" content="Web-based" />
        <meta itemprop="applicationCategory" content="Web design tool" />
      </div>

      <!-- Tool 8: Photoshop -->
      <div
        class="tool-item d-flex gap-1"
        itemscope
        itemtype="https://schema.org/SoftwareApplication"
      >
        <img
          loading="lazy"
          class="me-1"
          width="16"
          src="assets/img/template/ic-ps.svg"
          alt="Photoshop logo, a popular image editing tool by Adobe"
          itemprop="image"
        />
        <span itemprop="name">Photoshop</span>
        <meta itemprop="operatingSystem" content="Windows, macOS" />
        <meta itemprop="applicationCategory" content="Design tool" />
      </div>

      <!-- Tool 9: Adobe XD -->
      <div
        class="tool-item d-flex gap-1"
        itemscope
        itemtype="https://schema.org/SoftwareApplication"
      >
        <img
          loading="lazy"
          class="me-1"
          width="16"
          src="assets/img/template/ic-xd.svg"
          alt="Adobe XD logo, a UI/UX design and prototyping tool"
          itemprop="image"
        />
        <span itemprop="name">Adobe XD</span>
        <meta itemprop="operatingSystem" content="Windows, macOS" />
        <meta itemprop="applicationCategory" content="UI/UX design tool" />
      </div>

      <!-- Tool 10: Notion -->
      <div
        class="tool-item d-flex gap-1"
        itemscope
        itemtype="https://schema.org/SoftwareApplication"
      >
        <img
          loading="lazy"
          class="me-1"
          width="16"
          src="assets/img/template/ic-notion.svg"
          alt="Notion logo, a note-taking and collaboration platform"
          itemprop="image"
        />
        <span itemprop="name">Notion</span>
        <meta itemprop="operatingSystem" content="Web-based" />
        <meta itemprop="applicationCategory" content="Productivity tool" />
      </div>

      <!-- Tool 11: SVGAator -->
      <div
        class="tool-item d-flex gap-1"
        itemscope
        itemtype="https://schema.org/SoftwareApplication"
      >
        <img
          loading="lazy"
          class="me-1"
          width="16"
          src="assets/img/template/ic-svgator.svg"
          alt="SVGator logo, a tool for creating animated SVGs"
          itemprop="image"
        />
        <span itemprop="name">SVGator</span>
        <meta itemprop="operatingSystem" content="Web-based" />
        <meta itemprop="applicationCategory" content="Animation tool" />
      </div>

      <!-- Tool 12: Slack -->
      <div
        class="tool-item d-flex gap-1"
        itemscope
        itemtype="https://schema.org/SoftwareApplication"
      >
        <img
          loading="lazy"
          class="me-1"
          width="16"
          src="assets/img/template/ic-slack.svg"
          alt="Slack logo, a communication and collaboration tool"
          itemprop="image"
        />
        <span itemprop="name">Slack</span>
        <meta itemprop="operatingSystem" content="Web-based" />
        <meta itemprop="applicationCategory" content="Communication tool" />
      </div>

      <!-- Tool 13: ChatGPT -->
      <div
        class="tool-item d-flex gap-1"
        itemscope
        itemtype="https://schema.org/SoftwareApplication"
      >
        <img
          loading="lazy"
          class="me-1"
          width="16"
          src="assets/img/template/ic-gpt.svg"
          alt="ChatGPT logo, an AI-based conversational tool"
          itemprop="image"
        />
        <span itemprop="name">ChatGPT</span>
        <meta itemprop="operatingSystem" content="Web-based" />
        <meta itemprop="applicationCategory" content="AI tool" />
      </div>

      <!-- Tool 14: GitHub -->
      <div
        class="tool-item d-flex gap-1"
        itemscope
        itemtype="https://schema.org/SoftwareApplication"
      >
        <img
          loading="lazy"
          class="me-1"
          width="16"
          src="assets/img/template/ic-git.svg"
          alt="GitHub logo, a platform for version control and collaboration"
          itemprop="image"
        />
        <span itemprop="name">GitHub</span>
        <meta itemprop="operatingSystem" content="Web-based" />
        <meta itemprop="applicationCategory" content="Version control tool" />
      </div>
    </div>
  </section>

  <section id="testimonials" class="clients-testimonials pb-3 pt-5 py-5">
    <p class="accent-text text-center mb-0">LinkedIn Recommendations</p>
    <h2 class="text-center w-100 mb-2">What Professionals Say About Working With Me</h2>
    <p class="mb-5 display-8 text-center w-100">
      A few words from colleagues, clients, and leaders I’ve collaborated with — directly from my LinkedIn network.
    </p>
    <div class="container mt-3">
      <div
        class="d-flex justify-content-center py-3 gap-3 flex-column flex-md-row"
      >
        <div class="mr-2 d-flex gap-3 flex-column">
          <!-- Review 1 -->
          <div class="card p-4 animated">
            <p class="maintxt">
              "Nitish is an invaluable team member who consistently delivers high-quality work with dedication and integrity.
              <b>Respected for his professionalism and leadership, he leads by example and mentors others with ease.</b> His passion and expertise make him a true asset to any organization."
            </p>
            <hr />
            <div class="d-flex profile">
              <img
                loading="lazy"
                src="assets/img/template/cl-jeremy.webp"
                width="50"
                height="50"
                class="rounded-circle"
                alt="Jeremy Smith photo"
              />
              <div class="px-3">
                <h3 class="fw-normal mb-0 h4">Tarun Saini</h3>
                <p class="mb-0">Associate Director- HR and Recruitment</p>
              </div>
            </div>
          </div>

          <!-- Review 2 -->
          <div class="card p-4 animated">
            <p class="maintxt">
              "Working with Nitish was a true pleasure. He designed and wireframed entire app experiences nearly on his own,always pushing boundaries to make products better.
              <b>Beyond his design talent, he brought positivity, teamwork, and professionalism.</b> I highly recommend him."
            </p>
            <hr />
            <div class="d-flex profile">
              <img
                loading="lazy"
                src="assets/img/template/cl-atlas.webp"
                width="50"
                height="50"
                class="rounded-circle"
                alt="Tiffany Taylor photo"
              />
              <div class="px-3">
                <h3 class="fw-normal mb-0 h4">Navjot Mehra</h3>
                <p class="mb-0">Senior iOS developer</p>
              </div>
            </div>
          </div>

          <!-- Review 3 -->
          <div class="card p-4 animated">
            <p class="maintxt">
              "When I think about someone who is able to combine both arts and technology with perfection and focus, NItish's name comes to my mind. 
              <b
                >He is a professional that he likes to deliver the concept, the idea behind the things that he creates. 
He is respectful and able to communicate his ideas and contribute to the organization.</b
              >
              Nitish captures the essence of design and translates it into seamless UX. Any project in his hands is always in safe, expert care."
            </p>
            <hr />
            <div class="d-flex profile">
              <img
                loading="lazy"
                src="assets/img/template/cl-michelle.webp"
                width="50"
                height="50"
                class="rounded-circle"
                alt="Michelle photo"
              />
              <div class="px-3">
                <h3 class="fw-normal mb-0 h4">Manish Khanna</h3>
                <p class="mb-0">QA | AWS Certified </p>
              </div>
            </div>
          </div>
        </div>

        <div class="mr-2 d-flex gap-3 flex-column">
          <!-- Review 4 -->
          <div class="card p-4 animated">
            <p class="maintxt">
              "Nitish is a unique UX expert with deep knowledge in design and research. He helped grow our UX practice, championed user-centered design, and promoted data-driven decisions across the organization. <b
                >Humble yet highly professional, he leads by example and makes a lasting impact on teams and products.</b
              >"
            </p>
            <hr />
            <div class="d-flex profile">
              <img
                loading="lazy"
                src="assets/img/template/cl-marija.webp"
                width="50"
                height="50"
                class="rounded-circle"
                alt="Maria photo"
              />
              <div class="px-3">
                <h3 class="fw-normal mb-0 h4">Sofi Zahoor</h3>
                <p class="mb-0">TED-X Speaker | Storyteller </p>
              </div>
            </div>
          </div>

          <!-- Review 5 -->
          <div class="card p-4 animated">
            <p class="maintxt">
              "<b
                >Nitish worked at SourceFuse for over 5 years. During his tenure, he envisioned and brought many client ideas to life.</b
              >
              He has a modern aesthetic sense and a keen understanding of human interaction and user experience. I would attribute Nitish's contribution to the success of many of our client projects. 
Nitish would be an asset to any product organization, I wish him the very best!"
            </p>
            <hr />
            <div class="d-flex profile">
              <img
                loading="lazy"
                src="assets/img/template/cl-paul.webp"
                width="50"
                height="50"
                class="rounded-circle"
                alt="Paul photo"
              />
              <div class="px-3">
                <h3 class="fw-normal mb-0 h4">Kabir Chandhoke</h3>
                <p class="mb-0">COO, SourceFuse Technologies</p>
              </div>
            </div>
          </div>

          <!-- Review 6 -->
          <div class="card p-4 animated">
            <p class="maintxt">
              "I had the pleasure of working with Nitish at sourcefuse, collaborating on several projects. He came across as a well organised and a fairly engaging individual, he's highly skilled at conceptualizing and preparing prototypes/wireframes, designing user flows, creating promotional videos and launch templates.
              <b
                >His strong Interpersonal skills and attention to detail make him a great asset</b
              >
              for any team to have."
            </p>
            <hr />
            <div class="d-flex profile">
              <img
                loading="lazy"
                src="assets/img/template/cl-lisa.webp"
                width="50"
                height="50"
                class="rounded-circle"
                alt="Lisa Wong photo"
              />
              <div class="px-3">
                <h3 class="fw-normal mb-0 h4">Aneet Singh</h3>
                <p class="mb-0">Product Manager | Tech-Built, User-Tuned</p>
              </div>
            </div>
          </div>
        </div>

        <div class="mr-2 d-flex gap-3 flex-column">
          <!-- Review 7 -->
          <div class="card p-4 animated">
            <p class="maintxt">
              "Nitish has amazing ideas when it comes to designing.. And is great to work with. with minimalistic briefs, he creates wonders with the designs.
              <b
                >I still remember that people from every department, be it product development or marketing would chase him</b
              >
              for his design expertise and great knowledge of UX/UI."
            </p>
            <hr />
            <div class="d-flex profile">
              <img
                loading="lazy"
                src="assets/img/template/cl-svetlana.webp"
                width="50"
                height="50"
                class="rounded-circle"
                alt="Svetlana photo"
              />
              <div class="px-3">
                <h3 class="fw-normal mb-0 h4">Pritish Meshram</h3>
                <p class="mb-0">Digital Marketing Manager</p>
              </div>
            </div>
          </div>

          <!-- Review 8 -->
          <div class="card p-4 animated">
            <p class="maintxt">
              "When I think about someone who is able to combine both arts and technology with perfection and focus, Nitish's name comes to my mind. He is a professional who likes to deliver the concept, the idea behind the things that he creates. 
He is respectful and able to communicate his ideas and contribute to the organization. He captures the essence of the design and is able to translate all of this into the UX to a really good job in whatever media.
For all these good reasons, whoever has worked with him, know that a project conducted by Nitish is in very good hands."
            </p>
            <hr />
            <div class="d-flex profile">
              <img
                loading="lazy"
                src="assets/img/template/cl-petar.webp"
                width="50"
                height="50"
                class="rounded-circle"
                alt="Petar Spaseski photo"
              />
              <div class="px-3">
                <h3 class="fw-normal mb-0 h4">Prerna Gupta</h3>
                <p class="mb-0">Technical Architect</p>
              </div>
            </div>
          </div>

          <!-- Review 9 -->
          <div class="card p-4 animated">
            <p class="maintxt">
              "<b
                >Nitish has been go-to guy in the organization for designing user interface as well as user experience.</b
              >
              All the marketing collaterals and presentations were so admired by everyone. Wishing you all the best Nitish in your career."
            </p>
            <hr />
            <div class="d-flex profile">
              <img
                loading="lazy"
                src="assets/img/template/cl-antonio.webp"
                width="50"
                height="50"
                class="rounded-circle"
                alt="Mark Johnson photo"
              />
              <div class="px-3">
                <h3 class="fw-normal mb-0 h4">Manpreet Singh</h3>
                <p class="mb-0">Software Architect</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="featured-in py-5 text-center">
    <div class="container">
      <section
        id="aboutMe"
        class="about-me mt-5 text-start"
        itemscope=""
        itemtype="http://schema.org/Person"
      >
        <div class="about-me container card-style p-4 animated visible">
          <div class="row align-items-start">
            <div class="col-12 col-md-4">
              <img
                loading="lazy"
                class="w-100 p-0 rounded-10"
                src="assets/img/profile/about-me.jpeg"
                alt="Nitish Rikhi - UX/UI Designer and Founder of ThinkAiStudio"
                itemprop="image"
              />
            </div>

            <div class="col-12 col-md-8">
              <div class="row align-items-center">
                <div class="col d-flex flex-column">
                  <span class="accent-text mb-0" itemprop="jobTitle"
                    >About the Founder</span
                  >
                  <h2 class="py-2 fs-1" itemprop="name">Hi, I’m Nitish 👋</h2>
                </div>
                <div class="col-auto">
                  <a
                    class="me-1"
                    title="Web portfolio of Nitish Rikhi"
                    target="_blank"
                    href="https://www.thinkaistudio.com/"
                    ><img
                      width="32"
                      height="32"
                      src="assets/img/template/ic-veljanoski.svg"
                      alt="Portfolio veljanoski.com Logo"
                    /></a
                  >
                  <a
                    title="Personal linkedin profile of Nitish Rikhi"
                    target="_blank"
                    href="https://www.linkedin.com/in/nitish-r-92864153/"
                    ><img
                      width="32"
                      height="32"
                      src="assets/img/template/ic-linkedin.svg"
                      alt="LinkedIn Icon"
                    /></a
                  >
                </div>
              </div>
              <p class="pb-2" itemprop="description">
                A Tech Lead & Multimedia Designer with over <b
                  >12+ years</b
                > of experience in UI/UX, AI-driven design, and visual communication. My journey spans enterprise platforms, mobile apps, branding, and multimedia storytelling, helping businesses craft intuitive, human-centered digital experiences.
              </p>
              <p class="mb-0" itemprop="description">
                My approach to design is rooted in empathy and user-centricity,
                always striving to create intuitive and <b
                  >delightful experiences</b
                > for end-users.
              </p>
              <div class="d-flex align-items-center gap-2 mt-4">
                <h4 class="fs-3 m-0">Google Verified</h4>
                <svg
                  height="30"
                  viewBox="0 0 24 24"
                  width="30"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="Layer_2" data-name="Layer 2">
                    <path
                      d="m21.187 10.007a3.457 3.457 0 0 1 -.864-.712 3.378 3.378 0 0 1 .277-1.141c.291-.821.62-1.751.092-2.474s-1.525-.7-2.4-.68a3.422 3.422 0 0 1 -1.155-.078 3.369 3.369 0 0 1 -.425-1.063c-.248-.845-.531-1.8-1.4-2.086-.838-.27-1.614.324-2.3.846a3.285 3.285 0 0 1 -1.012.631 3.285 3.285 0 0 1 -1.023-.631c-.684-.519-1.457-1.119-2.299-.845-.867.282-1.15 1.24-1.4 2.085a3.418 3.418 0 0 1 -.421 1.061 3.482 3.482 0 0 1 -1.157.08c-.878-.024-1.867-.05-2.4.68s-.2 1.653.092 2.473a3.336 3.336 0 0 1 .281 1.141 3.449 3.449 0 0 1 -.863.713c-.732.5-1.563 1.069-1.563 1.993s.831 1.491 1.563 1.993a3.449 3.449 0 0 1 .863.712 3.335 3.335 0 0 1 -.273 1.142c-.29.82-.618 1.75-.091 2.473s1.521.7 2.4.68a3.426 3.426 0 0 1 1.156.078 3.4 3.4 0 0 1 .424 1.063c.248.845.531 1.8 1.4 2.086a1.424 1.424 0 0 0 .431.068 3.382 3.382 0 0 0 1.868-.914 3.285 3.285 0 0 1 1.012-.631 3.285 3.285 0 0 1 1.023.631c.685.523 1.461 1.12 2.3.845.867-.282 1.15-1.24 1.4-2.084a3.388 3.388 0 0 1 .424-1.062 3.425 3.425 0 0 1 1.153-.08c.878.021 1.867.05 2.4-.68s.2-1.653-.092-2.474a3.38 3.38 0 0 1 -.281-1.139 3.436 3.436 0 0 1 .864-.713c.732-.5 1.563-1.07 1.563-1.994s-.834-1.492-1.567-1.993z"
                      fill="#49adf4"></path>
                    <path
                      d="m11 14.75a.745.745 0 0 1 -.53-.22l-2-2a.75.75 0 0 1 1.06-1.06l1.54 1.54 3.48-2.61a.75.75 0 0 1 .9 1.2l-4 3a.751.751 0 0 1 -.45.15z"
                      fill="#fff"></path>
                  </g>
                </svg>
              </div>
              <div class="d-flex align-items-center gap-2 mt-2">
                <div class="certificate-badge">
                  <img src="assets/img/certificate-badges/gcc-ai.webp" alt="GCC Ai badge" />
                </div>
                <div class="certificate-badge">
                  <img src="assets/img/certificate-badges/gcc-ux.webp" alt="GCC UX badge" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>

  <footer class="pt-5" itemscope itemtype="https://schema.org/Organization">
    <section class="footer-cta py-5 border-bottom position-relative">
      <div class="p-4 p-xs-5">
        <h2 class="text-center w-100 mb-0 text-white">
          Ready to <span>transform</span> your brand?
        </h2>
        <p class="mb-0 display-8 text-center w-100 text-white py-3">
          Take the first step toward impactful design. Whether it’s UI/UX, branding, or web development,<br />
          we’ll bring your vision to life with creativity and precision.
        </p>
        <div class="d-grid gap-0 gap-3 justify-content-sm-center py-4">
          <a
            href="#"
            title="Book call on my calendar"
            class="btn btn-primary btn-lg ps-4 pe-4 py-2 my-2 d-flex"
            itemprop="url"
            >Book a call
            <svg
              class="ms-1"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 18 18"
              style="width: 18px"
              xml:space="preserve"
            >
              <style type="text/css">
                .st0 {
                  fill: #cfe2ff;
                }
                .st1 {
                  fill-rule: evenodd;
                  clip-rule: evenodd;
                  fill: #448ffe;
                }
              </style>
              <g>
                <path
                  class="st0"
                  d="M5,0h6c2.8,0,5,2.2,5,5v6c0,2.8-2.2,5-5,5H5c-2.8,0-5-2.2-5-5V5C0,2.2,2.2,0,5,0z"
                ></path>
                <path
                  class="st1"
                  d="M8.6,4.5c0.4-0.4,1-0.4,1.4,0l2.8,2.8c0.4,0.4,0.4,1,0,1.4L10,11.5c-0.4,0.4-1,0.4-1.4,0
             c-0.4-0.4-0.4-1,0-1.4L9.7,9H3.9c-0.6,0-1-0.4-1-1c0-0.6,0.4-1,1-1h5.8L8.6,5.9C8.2,5.5,8.2,4.9,8.6,4.5z"
                ></path>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </section>

    <div class="py-5 footer-links">
      <div class="container">
        <p class="text-white text-center mb-3">
          ThinkAiStudio is a creative design studio specializing in UX/UI, branding, and web development.<br />
          Since 2015, we’ve partnered with startups and businesses worldwide to deliver impactful, user-focused experiences.
        </p>
      </div>
      <div class="d-flex justify-content-center w-100">
        <p class="text-white mb-0 p-2 muted-50">
          <img
            loading="lazy"
            class="pe-3"
            alt="footer logo"
            width="45"
            src="assets/img/template/logo.svg"
          />© Copyright 2025 <span itemprop="name">ThinkAiStudio</span>.
          <span>Designed By </span><a>Nitish Kumar Rikhi</a>.
          <span>Developed By </span><a>Jaspreet Singh</a>.
          <span>Hosted with ❤️ by Github</span>.
        </p>
      </div>
      <ul
        class="nav col-md-4 justify-content-center w-100 container"
        itemscope
        itemtype="https://schema.org/SiteNavigationElement"
      >
        <li class="nav-item">
          <a
            title="Linkedin profile"
            href="https://www.linkedin.com/in/nitish-r-92864153/"
            class="nav-link px-2 text-body-secondary text-white muted-50"
            itemprop="url">Linkedin</a
          >
        </li>
        <li class="nav-item">
          <a
            title="Instagram profile"
            href="https://www.instagram.com/niksh0ts/"
            class="nav-link px-2 text-body-secondary text-white muted-50"
            itemprop="url">Instagram</a
          >
        </li>
      </ul>
    </div>
  </footer>

  <CookieBanner />
  <SocialModal />
</Layout>
