<a
  title="Github profile - Nitish Rikhi"
  target="_blank"
  href="https://github.com/rikhi8055"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="42"
    height="42"
    viewBox="0 0 80 80"
  >
    <g id="Github" transform="translate(-8907 -1539)">
      <g
        id="Ellipse_6"
        data-name="Ellipse 6"
        transform="translate(8907 1539)"
        fill="#fff"
        stroke="#d3d3d3"
        stroke-width="1"
      >
        <circle cx="40" cy="40" r="40" stroke="none"></circle>
        <circle cx="40" cy="40" r="39.5" fill="none"></circle>
      </g>
      <g
        id="Group_16"
        data-name="Group 16"
        transform="translate(-0.145 -0.147)"
      >
        <path
          id="Icon"
          d="M24.973,39.607c1.018,0,1.305-.4,1.305-.907s0-1.615-.022-3.186c-5.288,1.128-6.416-2.522-6.416-2.522a5.072,5.072,0,0,0-2.124-2.743c-1.726-1.15.133-1.128.133-1.128a4.027,4.027,0,0,1,2.92,1.925A4.058,4.058,0,0,0,26.3,32.593a3.956,3.956,0,0,1,1.217-2.522c-4.226-.465-8.673-2.08-8.673-9.248A7.186,7.186,0,0,1,20.814,15.8a6.515,6.515,0,0,1,.155-4.956s1.593-.509,5.244,1.925a18.258,18.258,0,0,1,9.514,0c3.606-2.412,5.221-1.925,5.221-1.925a6.877,6.877,0,0,1,.2,4.956,7.166,7.166,0,0,1,1.947,5.022c0,7.191-4.447,8.761-8.7,9.226A4.417,4.417,0,0,1,35.682,33.5c0,2.522-.022,4.513-.022,5.111,0,.487.221.885,1.305.885Z"
          transform="translate(8916.962 1557.314)"
          fill="#000e23"></path>
        <g
          id="Layer_2"
          data-name="Layer 2"
          transform="translate(8928 1559.763)"
        >
          <path
            id="Path_73"
            data-name="Path 73"
            d="M11.666.15C17.58-.3,23.967.435,29.93.12A12.9,12.9,0,0,1,41.565,11.676c-.346,5.992.471,12.521-.01,18.452A12.978,12.978,0,0,1,29.747,41.6c-5.751-.241-11.766.323-17.486.005A12.929,12.929,0,0,1,.085,29.34C.3,23.8-.185,18.076.085,12.563.4,6.192,5.162.645,11.666.15M12.2,3.629a9.309,9.309,0,0,0-8.548,8.31c-.416,5.768.321,12.028,0,17.847a9.34,9.34,0,0,0,8.077,8.247c5.634-.073,11.6.4,17.214.089a9.37,9.37,0,0,0,9.143-8.608c-.308-5.667.415-11.777,0-17.392a9.37,9.37,0,0,0-7.741-8.4c-5.87.1-12.314-.536-18.144-.089"
            transform="translate(-1.855 -1.616)"
            fill="#000e23"></path>
        </g>
      </g>
    </g>
  </svg>
</a>
