<a
  title="Instagram profile - Nitish Rikhi"
  target="_blank"
  href="https://www.instagram.com/niksh0ts"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="42"
    height="42"
    viewBox="0 0 80 80"
  >
    <defs>
      <linearGradient
        id="linear-gradient"
        x1="0.084"
        y1="0.916"
        x2="0.916"
        y2="0.084"
        gradientUnits="objectBoundingBox"
      >
        <stop offset="0" stop-color="#ffd600"></stop>
        <stop offset="0.5" stop-color="#ff0100"></stop>
        <stop offset="1" stop-color="#d800b9"></stop>
      </linearGradient>
      <linearGradient
        id="linear-gradient-2"
        x1="0.146"
        y1="0.854"
        x2="0.854"
        y2="0.146"
        gradientUnits="objectBoundingBox"
      >
        <stop offset="0" stop-color="#ff6400"></stop>
        <stop offset="0.5" stop-color="#ff0100"></stop>
        <stop offset="1" stop-color="#fd0056"></stop>
      </linearGradient>
      <linearGradient
        id="linear-gradient-3"
        x1="0.146"
        y1="0.854"
        x2="0.854"
        y2="0.146"
        gradientUnits="objectBoundingBox"
      >
        <stop offset="0" stop-color="#f30072"></stop>
        <stop offset="1" stop-color="#e50097"></stop>
      </linearGradient>
    </defs>
    <g id="Instagram" transform="translate(-8717 -1539)">
      <g
        id="Ellipse_4"
        data-name="Ellipse 4"
        transform="translate(8717 1539)"
        fill="#fff"
        stroke="#d3d3d3"
        stroke-width="1"
      >
        <circle cx="40" cy="40" r="40" stroke="none"></circle>
        <circle cx="40" cy="40" r="39.5" fill="none"></circle>
      </g>
      <g
        id="instagram-2"
        data-name="instagram"
        transform="translate(8737 1559)"
      >
        <path
          id="Path_58"
          data-name="Path 58"
          d="M40.754,12.012a15.005,15.005,0,0,0-.95-4.961,10.017,10.017,0,0,0-2.357-3.62,10.02,10.02,0,0,0-3.62-2.358A15,15,0,0,0,28.865.123C26.685.024,25.989,0,20.438,0s-6.247.024-8.427.123a15.007,15.007,0,0,0-4.961.95A10.017,10.017,0,0,0,3.43,3.43,10.019,10.019,0,0,0,1.072,7.05a15,15,0,0,0-.949,4.961C.024,14.191,0,14.887,0,20.438s.024,6.247.123,8.427a15,15,0,0,0,.95,4.961,10.016,10.016,0,0,0,2.357,3.62A10.014,10.014,0,0,0,7.051,39.8a15,15,0,0,0,4.961.95c2.18.1,2.876.123,8.427.123s6.247-.023,8.427-.123a15,15,0,0,0,4.961-.95A10.449,10.449,0,0,0,39.8,33.826a15,15,0,0,0,.95-4.961c.1-2.18.123-2.876.123-8.427s-.024-6.247-.123-8.427ZM37.075,28.7a11.308,11.308,0,0,1-.7,3.8,6.768,6.768,0,0,1-3.879,3.879,11.308,11.308,0,0,1-3.8.7c-2.155.1-2.8.119-8.259.119s-6.1-.021-8.259-.119a11.312,11.312,0,0,1-3.8-.7,6.334,6.334,0,0,1-2.35-1.529,6.331,6.331,0,0,1-1.529-2.35,11.308,11.308,0,0,1-.7-3.8c-.1-2.155-.119-2.8-.119-8.259s.021-6.1.119-8.259a11.316,11.316,0,0,1,.7-3.8,6.337,6.337,0,0,1,1.529-2.35,6.328,6.328,0,0,1,2.35-1.529,11.306,11.306,0,0,1,3.8-.7c2.155-.1,2.8-.119,8.259-.119h0c5.457,0,6.1.021,8.259.119a11.31,11.31,0,0,1,3.8.7,6.337,6.337,0,0,1,2.35,1.529,6.328,6.328,0,0,1,1.529,2.35,11.3,11.3,0,0,1,.7,3.8c.1,2.155.119,2.8.119,8.259s-.021,6.1-.119,8.259Zm0,0"
          transform="translate(0 0)"
          fill="url(#linear-gradient)"></path>
        <path
          id="Path_59"
          data-name="Path 59"
          d="M135.034,124.539a10.5,10.5,0,1,0,10.5,10.5A10.5,10.5,0,0,0,135.034,124.539Zm0,17.308a6.813,6.813,0,1,1,6.813-6.813A6.813,6.813,0,0,1,135.034,141.847Zm0,0"
          transform="translate(-114.596 -114.596)"
          fill="url(#linear-gradient-2)"></path>
        <path
          id="Path_60"
          data-name="Path 60"
          d="M366.835,91.078a2.453,2.453,0,1,1-2.453-2.453A2.453,2.453,0,0,1,366.835,91.078Zm0,0"
          transform="translate(-333.034 -81.55)"
          fill="url(#linear-gradient-3)"></path>
      </g>
    </g>
  </svg>
</a>
