<a
  title="Linkedin profile - Nitish Rikhi"
  target="_blank"
  style="text-decoration: none"
  href="https://www.linkedin.com/in/nitish-r-92864153"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="42"
    height="42"
    viewBox="0 0 80 80"
  >
    <g id="linkedin" transform="translate(-8813 -1539)">
      <g
        id="Ellipse_5"
        data-name="Ellipse 5"
        transform="translate(8813 1539)"
        fill="#fff"
        stroke="#d3d3d3"
        stroke-width="1"
      >
        <circle cx="40" cy="40" r="40" stroke="none"></circle>
        <circle cx="40" cy="40" r="39.5" fill="none"></circle>
      </g>
      <g id="Layer_2" data-name="Layer 2" transform="translate(8834 1559.763)">
        <g id="linkedin-2" data-name="linkedin" transform="translate(0 -0.123)">
          <path
            id="Path_72"
            data-name="Path 72"
            d="M11.666.15C17.58-.3,23.967.435,29.93.12A12.9,12.9,0,0,1,41.565,11.676c-.346,5.992.471,12.521-.01,18.452A12.978,12.978,0,0,1,29.747,41.6c-5.751-.241-11.766.323-17.486.005A12.929,12.929,0,0,1,.085,29.34C.3,23.8-.185,18.076.085,12.563.4,6.192,5.162.645,11.666.15M12.2,3.629a9.309,9.309,0,0,0-8.548,8.31c-.416,5.768.321,12.028,0,17.847a9.34,9.34,0,0,0,8.077,8.247c5.634-.073,11.6.4,17.214.089a9.37,9.37,0,0,0,9.143-8.608c-.308-5.667.415-11.777,0-17.392a9.37,9.37,0,0,0-7.741-8.4c-5.87.1-12.314-.536-18.144-.089"
            transform="translate(-1.855 -1.493)"
            fill="#0077b5"></path>
          <g id="icon" transform="translate(7.654 7.686)">
            <path
              id="Path_65"
              data-name="Path 65"
              d="M39.56,36.08A3.08,3.08,0,1,1,36.48,33a3.08,3.08,0,0,1,3.08,3.08Z"
              transform="translate(-33.4 -33)"
              fill="#0077b5"></path>
            <path
              id="Path_66"
              data-name="Path 66"
              d="M41.532,70.044V83.651a.762.762,0,0,1-.762.766H37.524a.762.762,0,0,1-.764-.764V70.044a.764.764,0,0,1,.764-.764H40.77A.764.764,0,0,1,41.532,70.044Z"
              transform="translate(-36.07 -61.83)"
              fill="#0077b5"></path>
            <path
              id="Path_67"
              data-name="Path 67"
              d="M85.289,76.254v6.587a.7.7,0,0,1-.7.7H81.1a.7.7,0,0,1-.7-.7V76.457c0-.953.279-4.172-2.491-4.172-2.146,0-2.583,2.2-2.669,3.193v7.363a.7.7,0,0,1-.692.7H71.17a.7.7,0,0,1-.7-.7V69.11a.7.7,0,0,1,.7-.7h3.372a.7.7,0,0,1,.7.7V70.3c.8-1.2,1.977-2.117,4.5-2.117,5.581,0,5.548,5.211,5.548,8.074Z"
              transform="translate(-62.858 -60.956)"
              fill="#0077b5"></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
</a>
